.card{
  border-radius: 9px;
  border-style: dashed;
  padding: 5px;
  margin: 5px;
}

.visited{
  height: 70px;
  width: 100px;
  margin-left: 5px
}

.flag{
  height: 70px;
  width: 100px;
  margin-left: 5px
}

.country-name{
  margin: 2px;
  text-align: center;
}

.remove-button{
  width: 100%;
  color: black;
  opacity: 0.5;
  font-weight: bold;
}
